<ez-toolbar></ez-toolbar>
<div *ngIf="!newUser">
  <button md-button (click)="switchNewUser()">Tilføj bruger</button>
</div>
<md-card *ngIf="newUser">
  <md-input-container>
    <input mdInput type="text" placeholder="Username" [(ngModel)]="userNew.username">
  </md-input-container>
  <md-input-container>
    <input mdInput type="text" placeholder="Email" [(ngModel)]="userNew.email">
  </md-input-container>
  <md-input-container>
    <input mdInput type="password" placeholder="Password" [(ngModel)]="password">
  </md-input-container>
  <md-input-container>
    <input mdInput type="number" placeholder="Phonenumber" [(ngModel)]="userNew.phone">
  </md-input-container>
  <md-select placeholder="Role" [(ngModel)]="userNew.role" name="role">
    <md-option *ngFor="let role of roles" [value]="role">
      {{role.name}}
    </md-option>
  </md-select>
  <md-card-actions>
    <button md-button (click)="addUser()">Add</button>
    <button md-button (click)="switchNewUser()">Cancel</button>
  </md-card-actions>
</md-card>
<md-card *ngFor="let user of users | async">
  <md-card-title>
    {{user.username}}
  </md-card-title>
  <md-card-content>
    <i class="fa fa-envelope-o"></i> {{user.email}}
  </md-card-content>
  <md-card-content>
    <i class="fa fa-phone"></i> {{user.phone}}
  </md-card-content>
  <md-card-content>
    <i class="fa fa-user"></i> {{user.role.name}}
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="editUser(user)">Edit</button>
    <button md-button (click)="deleteUser(user)">Delete</button>
  </md-card-actions>
</md-card>
