<md-toolbar color="primary">
  <span>ezScore</span>
  <button routerLink="/" md-button><i class="fa fa-home fa-2x"></i> Home</button>
  <button *ngIf="isAdmin" routerLink="/users" md-button><i class="fa fa-users fa-lg"></i> Users</button>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button *ngIf="!user" md-button routerLink="/login">Sign in </button>
  <button *ngIf="user" md-icon-button [mdMenuTriggerFor]="menu">
    <i class="fa fa-ellipsis-v"></i>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item disabled>
      <i class="fa fa-user"></i>
      <span>{{user?.auth.email}}</span>
    </button>
    <button md-menu-item (click)="logout()">
      <i class="fa fa-sign-out"></i>
      <span>Sign out</span>
    </button>
  </md-menu>

</md-toolbar>
