<md-card *ngIf="user">
  <md-card-content>
    <i class="fa fa-envelope-o"></i> {{user.profile.email}}
    <br>
    <i class="fa fa-user"></i>
      <md-select placeholder="Role" [(ngModel)]="user.role">
        <md-option *ngFor="let role of roles | async" [value]="role">
          {{role.name}}
        </md-option>
      </md-select>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="tryEdit()">Save</button>
    <button md-button routerLink="/users">Cancel</button>
  </md-card-actions>
</md-card>
