<md-card>
  <md-select placeholder="Sport" [(ngModel)]="sport" name="role">
    <md-option value="{{null}}">
      All
    </md-option>
    <md-option *ngFor="let sport of sports" [value]="sport">
      {{sport.name}}
    </md-option>
  </md-select>
  <md-input-container>
    <input mdInput type="text" placeholder="Search for team" [(ngModel)]="searchTerm">
  </md-input-container>
</md-card>

<div *ngFor="let match of matches | async">

  <md-card *ngIf="cat.match('live') && live(match.startTime) && !match.isFinished && currentSport(match) && search(match)">
    <md-card-content align="center" *ngIf="live(match.startTime)">
      Live!
    </md-card-content>
    <md-card-title>
      <div [fxLayout]="'row'">
        <div fxFlex="0" [fxLayout]="'column'" align="start">
          <img height="50" width="50" src="{{match.sport.img}}" />
        </div>
        <div fxFlex="100" [fxLayout]="'column'" align="end">
          {{match.team1}}
        </div>
        <div fxFlex="100" [fxLayout]="'column'" align="center">
          {{match.team1Score}} - {{match.team2Score}}
        </div>
        <div fxFlex="100" [fxLayout]="'column'" align="start">
          {{match.team2}}
        </div>
      </div>
    </md-card-title>
    <md-card-content align="center">
      <div *ngFor="let round of match.rounds">
        ({{round.team1score}} - {{round.team2score}})
      </div>
    </md-card-content>
  </md-card>

  <md-card *ngIf="cat.match('upcoming') && !live(match.startTime) && !match.isFinished && currentSport(match) && search(match)">
    <md-card-content align="center" *ngIf="!live(match.startTime)">
      Start time: {{ match.startTime  | amDateFormat: 'LLL'}}
    </md-card-content>
    <md-card-title>
      <div [fxLayout]="'row'">
        <div fxFlex="0" [fxLayout]="'column'" align="start">
          <img height="50" width="50" src="{{match.sport.img}}" />
        </div>
        <div fxFlex="100" [fxLayout]="'column'" align="end">
          {{match.team1}}
        </div>
        <div fxFlex="100" [fxLayout]="'column'" align="center">
          vs.
        </div>
        <div fxFlex="100" [fxLayout]="'column'" align="start">
          {{match.team2}}
        </div>
      </div>
    </md-card-title>
  </md-card>

  <md-card *ngIf="cat.match('results') && match.isFinished && currentSport(match) && search(match)">
    <md-card-content align="center">
      Result
    </md-card-content>
    <md-card-title>
      <div [fxLayout]="'row'">
        <div fxFlex="0" [fxLayout]="'column'" align="start">
          <img height="50" width="50" src="{{match.sport.img}}" />
        </div>
        <div fxFlex="100" [fxLayout]="'column'" align="end">
          {{match.team1}}
        </div>
        <div fxFlex="100" [fxLayout]="'column'" align="center">
          {{match.team1Score}} - {{match.team2Score}}
        </div>
        <div fxFlex="100" [fxLayout]="'column'" align="start">
          {{match.team2}}
        </div>
      </div>
    </md-card-title>
    <md-card-content align="center">
      <div *ngFor="let round of match.rounds">
        ({{round.team1score}} - {{round.team2score}})
      </div>
    </md-card-content>
  </md-card>

</div>
