<div *ngFor="let match of matches | async">
  <md-card (click)="goToEdit(match.$key)" *ngIf="match.creatorId == userId">
    <md-card-content align="center">
      Live!
    </md-card-content>
    <md-card-title>
      <div [fxLayout]="'row'">
        <div fxFlex="100" [fxLayout]="'column'" align="end">
          {{match.team1}}
        </div>
        <div fxFlex="100" [fxLayout]="'column'" align="center">
          {{match.team1Score}} - {{match.team2Score}}
        </div>
        <div fxFlex="100" [fxLayout]="'column'" align="start">
          {{match.team2}}
        </div>
      </div>
    </md-card-title>
  </md-card>
</div>
